body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(46, 44, 44), rgb(190, 175, 175));
}

.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 15px;
    width: 28%;
}

fieldset{
    border: 3px solid black;
}

legend{
    color: black;
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(177, 177, 177);
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0%;
    left: 0%;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(160, 160, 160);
}

#ano_nascimento{
    border: none;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
}

#submit{
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 15px;
    border-radius: 9px;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(46, 44, 44), rgb(190, 175, 175));
}

#submit:hover{
    background-image: linear-gradient(to right, rgb(85, 83, 83), rgb(248, 246, 246));
}
